html {
  height: 100%;
  cursor: url("/images/mouse-1.png"), auto;
}

body {
  margin: 0;
  font-family: "Fredoka One", cursive;
  text-shadow: -2px -2px 1px rgba(255, 255, 255, 0.6),
    3px 3px 3px rgba(255, 253, 253, 0.4);
  box-shadow: 3px 3px 5px rgba(255, 255, 255, 0.3);
}

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(
    -60deg,
    rgba(185, 255, 55, 0.5) 50%,
    rgb(0, 40, 58) 50%
  );
  bottom: 0;
  left: -50%;
  opacity: 1;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

/* content */
.content {
  border-box: box-sizing;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

/* icons on top of the page */
#top-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  margin: 1rem auto;
  width: 95vw;
}

#top-icons-left img {
  width: 5vw;
  transition: width 0.3s ease-in-out;
}

#top-icons-left img:hover {
  width: 5.5vw;
}

#top-icons-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#top-icons-left img {
  width: 5vw;
  transition: width 0.3s ease-in-out;
}

#top-icons-left img:hover {
  width: 5.5vw;
}

#top-icons-left div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5vw;
}

#top-icons-right {
  display: flex;
  justify-items: center;
  align-items: center;
}

#battery-percentage {
  font-size: 2.5rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  padding: 0px 15px 0px 0px;
  text-shadow: -2px -2px 1px rgba(0, 0, 0, 0.6), 3px 3px 3px rgba(0, 0, 0, 0.4);
}

#battery-img img {
  width: 8vw;
}

.hidden {
  display: none;
}

/* content of the page */
#index-content {
  height: 80vh;
  margin-bottom: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  font-size: 4rem;
}

.logo-area {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#index-content #logo {
  width: 45vw;
  transform: translateY(-2%);
  animation: floater 3s infinite;
  transition: ease 0.5s;
}

@keyframes floater {
  0% {
    transform: translateY(-2%);
    transition: ease 0.5s;
  }
  50% {
    transform: translateY(2%);
    transition: ease 0.5s;
  }
}

#play {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

#play a {
  display: flex;
  justify-content: center;
  align-items: center;
}

#play a:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

#play img {
  width: 15vw;
}

#play p {
  margin: 0;
}
