body,
html {
  height: 100%;
  margin: 0;
  background: url("/images/background-img.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: "Fredoka One", cursive;
  box-sizing: border-box;
  cursor: url("/images/cursor.png"), auto;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  text-align: center;
}

/* top icons */
#top-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  margin: 1rem auto;
  width: 95vw;
}

#top-icons-left img {
  width: 5vw;
  transition: width 0.3s ease-in-out;
}

#top-icons-left img:hover {
  width: 5.5vw;
  cursor: url("/images/cursor.png"), auto;
}

#top-icons-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#top-icons-left img {
  width: 5vw;
  transition: width 0.3s ease-in-out;
}

#top-icons-left img:hover {
  width: 5.5vw;
  cursor: url("/images/cursor.png"), auto;
}

#top-icons-left div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5vw;
}

#top-icons-right {
  display: flex;
  justify-items: center;
  align-items: center;
}

#battery-percentage {
  font-size: 2.5rem;
  font-weight: bold;
  padding: 0px 15px 0px 0px;
  color: #ffffff;
}

#battery-img img {
  width: 8vw;
}

.hidden {
  display: none;
}

/* content of the page */
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 80%;
}

#topic {
  height: 10%;
  font-size: 4rem;
  font-weight: bold;
  margin: 0 0 1rem;
}

#middle-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
}

#three-canvas {
  width: 80%;
  border: 5px solid lightgreen;
  border-radius: 50px;
  box-shadow: 0 6px 10px lightgreen;
}

#quiz {
  position: absolute;
  bottom: 5rem;
  background-color: lightgreen;
  border: 5px solid lightgreen;
  border-radius: 0 0 30px 30px;
  box-shadow: 0 6px 10px lightgreen;
  transition: background-color 0.3s, box-shadow 0.3s;
  font-size: 3.5em;
  width: 64%;
  cursor: url("/images/cursor.png"), auto;
}

#quiz:hover {
  background-color: #4caf50;
  cursor: url("/images/cursor.png"), auto;
}

#button-text {
  text-decoration: none;
  font-family: "Fredoka One", cursive;
  font-size: 3rem;
  background-color: transparent;
  border: none;
  cursor: url("/images/cursor.png"), auto;
}

#move-suggestion {
  position: absolute;
  top: 9rem;
  height: 5%;
  width: 60%;
  font-size: 2rem;
  border: 5px solid lightgreen;
  border-radius: 30px 30px 10px 10px;
  padding: 0.7rem 1.9rem;
  background-color: lightgreen;
}
#move-suggestion p {
  margin: 0;
}

#correctMove {
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #5dff5d, 0 0 20px #5dff5d,
      0 0 25px #5dff5d, 0 0 30px #5dff5d, 0 0 35px #5dff5d;
  }

  to {
    text-shadow: 0 0 10px #fff, 0 0 20px #7a7aff, 0 0 25px #7a7aff,
      0 0 30px #7a7aff, 0 0 35px #7a7aff, 0 0 40px #7a7aff, 0 0 40px #7a7aff;
  }
}

#wrongMove {
  color: #fff;
  text-align: center;
  animation: glow1 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow1 {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ff0000, 0 0 20px #ff0000,
      0 0 25px #ff0000, 0 0 30px #ff0000, 0 0 35px #ff0000;
  }

  to {
    text-shadow: 0 0 10px #fff, 0 0 20px #f95050, 0 0 25px #f95050,
      0 0 30px #f95050, 0 0 35px #f95050, 0 0 40px #f95050, 0 0 40px #f95050;
  }
}
