body,
html {
  height: 100%;
  margin: 0;
  /* background: url('1.jpg') no-repeat center center fixed; image needed */
  background: url("/images/background-img.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: "Fredoka One", cursive;
  box-sizing: border-box;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  text-align: center;
}

/* top icons */
#top-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  margin: 1rem auto;
  width: 95vw;
}

#top-icons-left img {
  width: 5vw;
  transition: width 0.3s ease-in-out;
}

#top-icons-left img:hover {
  width: 5.5vw;
}

#top-icons-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#top-icons-left img {
  width: 5vw;
  transition: width 0.3s ease-in-out;
}

#top-icons-left img:hover {
  width: 5.5vw;
}

#top-icons-left div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5vw;
}

#top-icons-right {
  display: flex;
  justify-items: center;
  align-items: center;
}

#battery-percentage {
  font-size: 2.5rem;
  font-weight: bold;
  padding: 0px 15px 0px 0px;
  color: #ffffff;
}

#battery-img img {
  width: 8vw;
}

.hidden {
  display: none;
}

/* content of the page */
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85%;
}

#topic {
  font-size: 4rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

#content-container {
  display: flex;
  width: 100%;
  height: 64%;
  justify-content: space-between;
  margin-bottom: 1rem;
}

#model-container {
  width: 80%;
  height: 95%;
}

#level1_model_canvas {
  width: 100%;
  height: 100%;
  margin: 0px 10px 0px 30px;
  border: 5px solid white;
  border-radius: 50px;
}

#action-container {
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#Go-button {
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 50px;
  padding: 30px 130px;
  cursor: pointer;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2),
    inset -2px -2px 5px rgba(255, 255, 255, 0.5);
  transition: background-color 0.3s, box-shadow 0.3s;
}
#button-text {
  font-size: 4em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: hsl(184, 96%, 55%);
  text-align: center;
  text-decoration: none;
  font-weight: bolder;
}
#button-text:hover {
  color: rgb(0, 13, 133);
}

#Go-button:hover {
  color: hsl(180, 100%, 2%);
}

#Go-button:active {
  box-shadow: inset 2px 2px 8px rgba(0, 0, 0, 0.3),
    inset -2px -2px 8px rgba(255, 255, 255, 0.7);
}

#data-container {
  margin-right: 32rem;
  height: 10%;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 3rem;
}

#temp-button,
#heart-button {
  background-color: rgba(255, 255, 255, 0.534);
  border: none;
  border-radius: 50px;
  padding: 20px 30px;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2),
    inset -2px -2px 5px rgba(255, 255, 255, 0.5);
  transition: background-color 0.3s, box-shadow 0.3s;
  /* position: absolute;
  bottom: 70px; */
}

#temp-button {
  left: 200px;
}

#heart-button {
  right: 750px;
}
