body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url(/images/win-bg.png) no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Fredoka One", cursive;
  cursor: url("/images/mouse-1.png"), auto;
}

/* icons on top of the page */
#top-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  margin: 1rem auto;
  width: 95vw;
  z-index: 2;
}

#top-icons-left img {
  width: 5vw;
  transition: width 0.3s ease-in-out;
}

#top-icons-left img:hover {
  width: 5.5vw;
  cursor: url("/images/mouse-1-pointer.png"), auto;
}

#top-icons-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#top-icons-left img {
  width: 5vw;
  transition: width 0.3s ease-in-out;
}

#top-icons-left img:hover {
  width: 5.5vw;
  cursor: url("/images/mouse-1-pointer.png"), auto;
}

#top-icons-left div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5vw;
}

#top-icons-right {
  display: flex;
  justify-items: center;
  align-items: center;
}

#battery-percentage {
  font-size: 2.5rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  padding: 0px 15px 0px 0px;
  text-shadow: -2px -2px 1px rgba(0, 0, 0, 0.6), 3px 3px 3px rgba(0, 0, 0, 0.4);
}

#battery-img img {
  width: 8vw;
}

.hidden {
  display: none;
}

/* content */
.container {
  border-box: box-sizing;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

#win {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

h1 {
  font-size: 8em;
  color: white;
  text-shadow: 2px 2px 5px black;
  font-family: "Fredoka One", cursive;
  margin-bottom: 5%;
}

#nextLevelButton {
  font-family: "Fredoka One", cursive;
  font-size: 3em;
  background-color: rgb(241, 251, 57);
  border: none;
  border-radius: 50px;
  padding: 20px 30px;
  /* cursor: pointer; */
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2),
    inset -2px -2px 5px rgba(255, 255, 255, 0.5);
  transition: background-color 0.3s, box-shadow 0.3s;
  width: 400px;
  align-items: center;
  justify-content: center;
}

#nextLevelButton:hover {
  background-color:rgb(248, 255, 116);
  cursor: url("/images/mouse-1-pointer.png"), auto;
}

#nextLevelButton a:hover {
  cursor: url("/images/mouse-1-pointer.png"), auto;
}

#fireworksCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
