body,
html {
  height: 100%;
  margin: 0;
  background: url("/images/level-bg.jpeg") no-repeat center center fixed;
  background-size: cover;
  font-family: "Fredoka One", cursive;
  box-sizing: border-box;
  cursor: url("/images/cursor.png"), auto;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  text-align: center;
}

/* top icons */
#top-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  margin: 1rem auto;
  width: 95vw;
}

#top-icons-left img {
  width: 5vw;
  transition: width 0.3s ease-in-out;
}

#top-icons-left img:hover {
  width: 5.5vw;
  cursor: url("/images/cursor.png"), auto;
}

#top-icons-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#top-icons-left img {
  width: 5vw;
  transition: width 0.3s ease-in-out;
}

#top-icons-left img:hover {
  width: 5.5vw;
  cursor: url("/images/cursor.png"), auto;
}

#top-icons-left div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5vw;
}

#top-icons-right {
  display: flex;
  justify-items: center;
  align-items: center;
}

#battery-percentage {
  font-size: 2.5rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  padding: 0px 15px 0px 0px;
  text-shadow: -2px -2px 1px rgba(0, 0, 0, 0.6), 3px 3px 3px rgba(0, 0, 0, 0.4);
}

#battery-img img {
  width: 8vw;
}

.hidden {
  display: none;
}

/* content of the page */
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  height: 85%;
}

#top-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  height: 20%;
}

#top-content h1 {
  font-size: 4rem;
  margin: 1rem 0;
}

#top-content img {
  width: 6vw;
}

#middle-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  height: 60%;
  width: 120%;
}

.answer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 20%;
  width: 100%;
}

#option-button {
  background-color: lightgreen;
  border: none;
  border-radius: 50px;
  padding: 10px;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2),
    inset -2px -2px 5px rgba(255, 255, 255, 0.5);
  transition: background-color 0.3s, box-shadow 0.3s;
  margin: 20px;
  font-size: 3.5em;
  position: relative;
  width: 100%;
}

#option-button:hover {
  background-color: rgb(178, 240, 178);
  cursor: url("/images/cursor.png"), auto;
}

#option-button a {
  font-weight: bolder;
  text-decoration: none;
  color: #ffffff;
  -webkit-text-stroke: 1px rgb(0, 26, 0);
  font-family: "Fredoka One", cursive;
  font-size: 3rem;
  text-shadow: #000;
}

#option-button a:hover{
  cursor: url("/images/cursor.png"), auto;
}

.answer img {
  width: 5vw;
}

.hidden {
  display: none;
}

#listen1-off, #listen1-on, #listen2-off, #listen2-on, #listen3-off, #listen3-on:hover{
  cursor: url("/images/cursor.png"), auto;
}
