body,
html {
  height: 100%;
  margin: 0;
  /* background: url('1.jpg') no-repeat center center fixed; image needed */
  background-size: cover;
  background-color: rgb(247, 239, 132);
  font-family: "Fredoka One", cursive;
  box-sizing: border-box;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom right, #ebff7d, #7bd4fd);
  text-align: center;
}

/* top icons */
#top-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  margin: 1rem auto;
  width: 95vw;
}

#top-icons img {
  width: 5vw;
}

#top-icons-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#top-icons-right {
  display: flex;
  justify-items: center;
  align-items: center;
}

.hidden {
  display: none;
}

#battery-percentage {
  font-size: 2rem;
  font-weight: bold;
}

.battery-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* content of the page */
#back-button,
#home-button {
  background-color: rgba(255, 255, 255, 0.534);
  border: none;
  border-radius: 10px;
  padding: 30px 30px;
  cursor: pointer;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2),
    inset -2px -2px 5px rgba(255, 255, 255, 0.5);
  transition: background-color 0.3s, box-shadow 0.3s;
  top: 20px;
  position: absolute;
}

#back-button {
  left: 20px;
}

#home-button {
  right: 20px;
}

#back-link,
#home-link {
  position: absolute;
  top: 20px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

#back-link {
  left: 20px;
}

#home-link {
  right: 20px;
}

#back-link:hover i,
#home-link:hover i {
  color: #123bf3;
}

/* title text */
#Level {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  width: 100%;
}

#Level h1 {
  font-size: 6em;
  font-weight: bolder;
  color: #000000;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#content-container {
  display: flex;
  gap: 1rem;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

#model-container {
  width: 95%;
  height: 95%;
}

#level1_model_canvas {
  width: 100%;
  height: 100%;
  margin: 0px 10px 0px 30px;
  border: 5px solid white;
  border-radius: 50px;
}

#start-container {
  width: 50%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#start-button {
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 50px;
  padding: 30px 130px;
  cursor: pointer;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2),
    inset -2px -2px 5px rgba(255, 255, 255, 0.5);
  transition: background-color 0.3s, box-shadow 0.3s;
}
#button-text {
  font-size: 4em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: hsl(184, 96%, 55%);

  text-align: center;
  text-decoration: none;
  font-weight: bolder;
}
#button-text:hover {
  color: rgb(0, 13, 133);
}

#start-button:hover {
  color: hsl(180, 100%, 2%);
}

#start-button:active {
  box-shadow: inset 2px 2px 8px rgba(0, 0, 0, 0.3),
    inset -2px -2px 8px rgba(255, 255, 255, 0.7);
}
