body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(to bottom, rgb(0, 217, 255), rgb(255, 220, 24));
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  color: white;
  text-align: center;
  position: fixed;
  z-index: 2;
}

#back-button,
#home-button {
  background-color: rgba(255, 255, 255, 0.534);
  border: none;
  border-radius: 10px;
  padding: 30px 30px;
  cursor: pointer;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2),
    inset -2px -2px 5px rgba(255, 255, 255, 0.5);
  transition: background-color 0.3s, box-shadow 0.3s;
  top: 20px;
  position: fixed;
}

#back-button {
  left: 20px;
}

#home-button {
  right: 20px;
}

#back-link,
#home-link {
  position: absolute;
  top: 20px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

#back-link {
  left: 20px;
}

#home-link {
  right: 20px;
}

#back-link:hover i,
#home-link:hover i {
  color: #123bf3;
}

#win {
  position: absolute;
  top: 350px;
  position: fixed;
  z-index: 2;
}

h1 {
  font-size: 5em;
  color: white;
  text-shadow: 2px 2px 5px black;
  margin-top: 0;
}

#nextLevelButton {
  font-size: 3em;
  background-color: rgba(0, 119, 255, 0.87);
  border: none;
  border-radius: 50px;
  padding: 20px 30px;
  cursor: pointer;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2),
    inset -2px -2px 5px rgba(255, 255, 255, 0.5);
  transition: background-color 0.3s, box-shadow 0.3s;
  width: 400px;
}

#nextLevelButton:hover {
  background-color: rgb(0, 183, 255);
}

#fireworksCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
