body {
  background: linear-gradient(to bottom right, #ebff7d, #7bd4fd);
  background-size: cover;
  height: 100vh;
  cursor: url("/images/cursor.png"), auto;
}

#rest_page_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  height: 500px;
}

h1 {
  font-size: 64px;
  color: darkblue;
  margin: 0;
}

span {
  font-size: 72px;
  color: darkblue;
  font-weight: 700;
}
