body,
html {
  height: 100%;
  margin: 0;
  background: url("/images/stat-bg.png") no-repeat center center fixed;
  background-size: cover;
  font-family: "Fredoka One", cursive;
  box-sizing: border-box;
  cursor: url("/images/mouse-1.png"), auto;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  text-align: center;
}

/* top icons */
#top-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  margin: 0.5rem auto 1rem;
  width: 95vw;
}

#top-icons-left img {
  width: 5vw;
  transition: width 0.3s ease-in-out;
}

#top-icons-left img:hover {
  width: 5.5vw;
  cursor: url("/images/mouse-1-pointer.png"), auto;
}

#top-icons-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#top-icons-left img {
  width: 5vw;
  transition: width 0.3s ease-in-out;
}

#top-icons-left img:hover {
  width: 5.5vw;
}

#top-icons-left div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5vw;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  overflow: hidden;
}

#logo img {
  height: 20vh;
  /* width: 40vw; */
}

#top-icons-right {
  display: flex;
  justify-items: center;
  align-items: center;
}

#battery-percentage {
  font-size: 2.5rem;
  font-weight: bold;
  padding: 0px 15px 0px 0px;
  color: #ffffff;
  text-shadow: -2px -2px 1px rgba(0, 0, 0, 0.6), 3px 3px 3px rgba(0, 0, 0, 0.4);
}

#battery-img img {
  width: 8vw;
}

.hidden {
  display: none;
}

/* content of the page */
#container {
  height: 75%;
  width: 95%;
  margin-top: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#model {
  height: 100%;
  width: 30%;
  border: 0.7rem solid #ffffff71;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#stat_model_canvas {
  height: 100%;
}

#readings {
  height: 100%;
  width: 60%;
  border-radius: 20px;
  background-color: #ffffff;
  border: 0.7rem solid #ffffff71;
  box-shadow: 0 6px 10px #ffffff71;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  /* justify-content: space-between; */
  align-items: center;
}

#readings-topic {
  width: 75%;
  height: 5%;
  font-size: 2.5rem;
  font-weight: bold;
  color: #000000;
  text-align: left;
  margin-bottom: 0.5rem;
}

.data-section {
  width: 80%;
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  font-weight: medium;
  background-color: #dadada;
  border-radius: 20px;
  padding: 0.5rem 1rem 0.5rem 3rem;
  box-shadow: 0px 6px 10px #d9d9d9;
}

.data-section img {
  width: 5vw;
}

#section-1 {
  height: 15%;
  justify-content: space-between;
}

#heart,
#temperature {
  width: 45%;
  display: flex;
  align-items: center;
  gap: 3rem;
}

#section-2 {
  height: 15%;
  justify-content: space-between;
}

#flex {
  display: flex;
  align-items: center;
  width: 25%;
}

#flex-reading {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 1rem;
}

#section-3 {
  height: 40%;
  justify-content: space-between;
}

#gyro {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: top;
}

#gyro img {
  margin-top: 1.5rem;
}

#gyro-readings {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

#gyro-readings div {
  width: 25%;
}
